#copy this file to "init" in the same directory and insert your values
#source file for shell scripts

#define variables
#define youtube channel playlists named explicitly "audio" and "video", to which items can be added while browsing 
CHANNEL_AUDIO_PLAYLIST=''
CHANNEL_VIDEO_PLAYLIST=''

#download location
YOUTUBE_DL_DOWNLOAD_DIR=''
