#user youtube-dl config file, used by default
#copy this this file in the same directory, remove the .template suffix, and uncomment or add desired lines below
#--verbose
#--no-progress
#--restrict-filenames
#--no-overwrites
#--no-mtime
#--retries "infinite"
#--fragment-retries "infinite"
#--sleep-interval 5
#--max-sleep-interval 10
